body {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}


.container {
    max-width: 570px;
    background: linear-gradient( 87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5% );
    margin: 30px auto;
    padding: 20px 30px;
    color: white;
    border-radius: 5px;
}


h1, h2 {
    text-align: center;
}

h2 {
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 12px;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    margin: 20px 0 10px;
}

img {
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #754b3d;
    font-weight: bold;
}
footer {
    text-align: center;
    font-size: 15px;
}


img:hover {
    transform: scale(1.5);
    opacity: 0.5;
}

.btn {
    display: block;
    cursor: pointer;
    margin: 20px auto;
    background: #754b3d;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
}
.btn:hover {
    background: white;
    color: #754b3d;
}
    
.links {
    color: beige;
}

.theme-button {
    display: block;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(0, 0, 0) 100.2%);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.theme-button:hover {
    background: white;
    color: black;
}

.dark {
    background: black
}

.dark .container {
    background: rgba(255, 255, 255, 0.3);
}

.dark a {
    color: burlywood;
    font-weight: bold;
}